<div class="container">
  <h1>Showing Selected User</h1>
  <p>
    First Name: <%= @user.first_name %>
  </p>
  <p>
    Last Name: <%= @user.last_name %>
  </p>
  <p>
    Email: <%= @user.email %>
  </p>
  <p>
    CellPhone: <%= @user.cellphone %>
  </p>

</div>